{% block body %}
  <style>
    .example-wrapper {
      margin: 1em auto;
      max-width: 800px;
      width: 95%;
      font: 18px/1.5 sans-serif;
    }
    .example-wrapper code {
      background: #F5F5F5;
      padding: 2px 6px;
    }
  </style>

  <div class="example-wrapper">
    <h1>Page d'accueil</h1>

    <div class="example-wrapper">
      {% if app.user %}
        <ul>
          <li>
            <a class="nav-link" href="{{ path('profil') }}">Profile</a>
          </li>
          <li>
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
          </li>
        </ul>
      {% else %}
        <ul>
          <li>
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
          </li>
          <li>
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
          </li>
        </ul>
      {% endif %}
    </div>
    <div class="exemple-wrapper">
      {% for project in projects %}
        <ul>
          <h3 class="post-title">Project #{{ project.id }}</h3>
          <li>Project :
            <a href="{{ path('project', { id:project.id }) }}">{{ project.title }}</a>
          </li>
          <li>Description :
            {{ project.description }}</li>
          <li>Beginning date :
            {{ project.startAt | date("d-m-Y") }}</li>
          <li>Deadline :
            {% if project.endAt %}
              {{ project.endAt | date("d-m-Y à H:i") }}</li>
          {% endif %}

        </ul>
      {% endfor %}
    </div>
  </div>
  {{ knp_pagination_render(projects) }}
{% endblock %}
